html {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #9012FE;
}
html, body, #main {
  height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

#copy-wrapper h2 {
  font-size: 100px;
  color: #fff;
  line-height: 100px;
}

#copy-wrapper h3 {
  font-size: 36px;
  color: #fff;
  font-weight: normal;
}

#contact-wrapper {
  text-align: center;
}

#social-icons a {
  display: inline-block;
  font-size: 36px;
  padding: 20px 45px;
  color: #fff;
  text-decoration: none;
}

#contact-button-wrapper a {
  display: inline-block;
  background: #fff;
  border-radius: 300px;
  min-width: 400px;
  max-width: 480px;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  font-size: 18px;
  color: #292929;
  text-decoration: none;
  transition: 0.2s all linear;
}

#contact-button-wrapper a:hover {
  background: #02e2ca;
  color: #fff;
}

#main {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#copy-wrapper, #contact-wrapper {
  width: 50%;
}

footer {
  color: #fff;
  width: 100%;
  text-align: center;
}