.masonry {
  figure {
    margin: 0;  /* remove any margins */
    width: 33.333%; /* on desktop we want 3 across */
    float: left; /* and float them all in a row */
  }

  figure:nth-child(3n) {  /* every 3rd item (3, 6, 9, etc) */
    button {
      margin-right: 5px; /* remove the right padding since it'll be against the browser */
    }
  }

  img {
    display: block; /* make the image block level to remove any whitespace */
    transition: all 0.2s linear; /* add for animation */
  }

  button {
    border: none; /* buttons have a border by default, remove it */
    padding: 0; /* remove default padding */
    float: left;  /* float them so they're inline */
    margin: 5px 10px 5px 0; /* adds a white board but lets us still hover effect the bg */
    background: $primary; /* set the default background color */
    cursor: pointer; /* make the cursor indicate we can click */

    &:hover {
      img {
        opacity: 0.3; /* fade out our image so that we can see the background color on hover */
      }
    }
  }
}

/* change the color of each one to our main colors */
.masonry figure:nth-child(2n) {
  button {
    background-color: $links;
  }
}

.masonry figure:nth-child(3n) {
  button {
    background-color: $info;
  }
}

.masonry figure:nth-child(4n) {
  button {
    background-color: $successAlt;
  }
}

  /* change to 2 col grid for mobile */
  @media(min-width: 0px) and (max-width: 991px) {
    .masonry {
      figure {
        width: 50%; /* on desktop we want 3 across */
      }

      button {
        margin: 2% !important;
      }
    }
  }

  /* change to 4 col grid for big monitors */
  @media(min-width: 1500px) {
    .masonry {
      figure {
        width: 25%; /* on desktop we want 3 across */
      }

      button {
        margin: 2% !important;
      }
    }
  }