.large-letter {
  position: absolute; /* set it so we can move it off screen a bit */
  z-index: 9; /* make the z-index or layering slightly higher than normal */
  font-size: 1200px; /* set the font size to something very big */
  font-weight: 800; /* make it bold */
  color: rgba(0, 0, 0, 0.4); /* set it to black with an opacity of 40% */
  left: -200px; /* nudge it offscreen to the left */
  top: -900px; /* nudge it offscreen on top */
}

.overflow--container {
  overflow: hidden;
}