header {
  position: fixed;  /* doc our header at the top */
  width: 100%; /* make sure it stretches all the way across */
  left: 0; /* start at (0,0) */
  top: 0;
  z-index: 99999; /* keep it above pretty much everything */

  #headerNav {
    button {
      position: absolute; /* position our menu button on the left */
      left: 15px;
      top: 30px;
      border: none; /* remove the border from the button */
      font-size: 40px; /* make it larger */
    }
  }

  #logo {
    position: absolute; /* position our logo on the right */
    right: 30px;
    top: 45px;

    img {
      height: 20px; /* shrink our svg down a little bit */
    }
  }
}