input[type=text], input[type=email], input[type=password], input[type=number], textarea {
  border: 1px solid $grey;
  padding: 6px;
  margin-bottom: 15px;
}

input.block, textarea.block {
  width: 99%;
}

label.radio, label.checkbox {
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  padding-left: 30px;
  line-height: 15px;
  margin-right: 15px;
}

input[type="radio"], input[type="checkbox"] {
  position: absolute;
  left: -20px;
}

input[type="radio"]::before, input[type="checkbox"]::before {
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  position: absolute;
  width: 19px;
  height :19px;
  left: 30px;
  top: 10px;
  margin: -11px 10px 0 0;
  vertical-align: middle;
  content: '111';
  cursor: pointer;
  opacity: 0.7;
  font-size: 15px;
  color: $borderRadiusLG;
}

input[type="checkbox"]::before {
  content: '0c8';
}

.radio:hover input::before, .checkbox:hover input::before {
  color: $primary;
}

.radio input:checked::before {
  opacity: 1;
  color: $primary;
  content: '192';
}

.checkbox input:checked::before {
  opacity: 1;
  color: $primary;
  content: '14a';
}