/* animations */
.transition--all {
  transition: all 0.2s;
}

/* padding */
.padding-none { padding: 0; }
.padding-xs { padding: 2px; }
.padding-sm { padding: 5px; }
.padding-md { padding: 15px; }
.padding-lg { padding: 30px; }

/* margins */
.margin-auto { margin: auto; }
.margin-none { margin: 0; }
.margin-xs { margin-bottom: 2px; }
.margin-sm { margin-bottom: 5px; }
.margin-md { margin-bottom: 15px; }
.margin-lg { margin-bottom: 30px; }

/* positions */
.position--relative { position: relative; }
.position--absolute { position: absolute; }

/* floats */
.float-right{ float: right; }
.float-left{ float: left; }
.clear{ clear: both; }

/* display */
.block {
  display: block;
  width: 100%;
}

.inline {
  display: inline;
}

.no--wrap {
  white-space: nowrap;
}

.lh-xs { line-height: 0.5em; }
.lh-sm { line-height: 1em; }
.lh-md { line-height: 2em; }
.lh-lg { line-height: 3em; }

@media only screen and (max-width: 767px) {
  .hidden-xs { display: none; }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hidden-sm { display: none; }
}

@media only screen and (min-width: 1024px) and (max-width: 1299px) {
  .hidden-md { display: none; }
}

@media only screen and (min-width: 1300px) {
  .hidden-lg { display: none; }
}

.hide { display: none; }

.seo--heading {
  font-size: inherit;
  display: inline;
  margin: 0;
  padding: 0;
  color: inherit
}
