$text: #484848;       /* standard text color */

  $dark: #000;          /* our actual black */
  $offDark: #2c2c2c;    /* our not actual black */
  $light: #fff;         /* our actual white */
  $offLight: #f7f7f7;   /* our not actual white */
  $grey: #d7d7d7;       /* grey, mostly borders */

  $primary: #9012FE;    /* our primary color */
  $primaryAlt: #C212FE; /* our alt primary color, accent */
  $cta: #F20028;        /* our secondary, or call to action color */
  $ctaAlt: #ff0084;     /* our alt cta color, accent */
  $success: #85DD33;    /* successful things */
  $successAlt: #d2ff52; /* our alt success color */
  $info: #4dd8ea;       /* info color */
  $infoAlt: #33d671;    /* info alt color */
  $error: #F20028;      /* error color */
  $errorAlt: #ff0084;   /* error alt color */
  $links: #f233b9;      /* our STANDARD link color */
  $linksHover: #02e2ca; /* our hover link color */

  /* put all our colors here, we'll use this for looping */
  $color_names: text, dark, offDark, light, offLight, grey, primary, primaryAlt, cta, ctaAlt, success, successAlt, info, infoAlt, error, errorAlt, links, linksHover;
  $color_vars: $text, $dark, $offDark, $light, $offLight, $grey, $primary, $primaryAlt, $cta, $ctaAlt, $success, $successAlt, $info, $infoAlt, $error, $errorAlt, $links, $linksHover;

  /* border radius */
  $borderRadiusXS: 3px;
  $borderRadiusSM: 5px;
  $borderRadiusMD: 10px;
  $borderRadiusLG: 300px;

  $gridColumns: 12;       /* how many cols show on desktop */
  $gridGap: 10px;         /* the space between our grid cols */