#hero {
  background-color: $primary; /* set a default background color */
  background-size: cover !important; /* make the background image "cover" the available area */
  display: flex; /* set our flex display property */
  min-height: 300px; /* make sure it's at least 300px tall */
  padding: 20px 0; /* add some extra padding to the top and bottom */
  align-items: center; /* vertically align content */
  overflow: hidden; /* hide anything that breaks outside, specifically the large N */
  position: relative; /* give it relative positioning so that we can absolutely position our inner content */

  #N {
    position: absolute; /* set it so we can move it off screen a bit */
    z-index: 9; /* make the z-index or layering slightly higher than normal */
    font-size: 1200px; /* set the font size to something very big */
    font-weight: 800; /* make it bold */
    color: rgba(0, 0, 0, 0.4); /* set it to black with an opacity of 40% */
    left: -200px; /* nudge it offscreen to the left */
    top: -900px; /* nudge it offscreen on top */
  }

  h2 {
    line-height: 110px; /* shrink our line height so it looks closer together */
    font-weight: bold; /* bold the font */
  }

  div {
    position: relative; /* position it relative */
    z-index: 99; /* set the z-index slightly above our large N */
    padding: 120px 10%; /* give it some padding on top and bottom as well as 10% from the left (and right but you won't see it) */
  }

  aside {
    font-weight: 300; /* make our font thin */
    padding: 30px 0; /* add some padding to the top and bottom */
  }

  button {
    padding: 15px 70px; /* add some padding around the button */
  }
}

.social-links {
  position: absolute; /* so that we can position at the bottom of our hero */
  bottom: 30px; /* 30 pixels from the bottom */
  right: 30px; /* 30 from the right */
  height: 30px; /* make sure it's only 30px high */
  z-index: 999; /* put it a layer above all the other hero elements */

  a {
    padding: 15px; /* give it some breathing room for tapping */
  }
}

 /* media query for anything under 900px */
 @media only screen and (max-width: 900px) {
  #hero {
    /* move everything up a little on mobile */
    div {
      padding-top: 75px;
    }

    /* make the font size for the heading much smaller */
    h2 {
      font-size: 60px;
      line-height: 55px;
    }

    /* tagline font smaller too */
    aside {
      font-size: 24px;
    }

    /* make the button text smaller */
    button {
      font-size: 18px;
    }
  }
}