/* set our base text styles for the generic body */
body {
  font-family: 'Roboto', "system";
  letter-spacing: 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text;
  font-size: 20px;
  line-height: 1.4;
}

/* style our default links */
a {
  text-decoration: none;
  color: $links;
  transition: all 0.4s linear; /* this will add a nice animation to our links */

  &:hover {
    color: $linksHover;
    opacity: 1;
  }
}

/* these two change the color when someone highlights text on the screen */
::selection {
  background: $primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $primary; /* Gecko Browsers */
}

  /* replace text off screen */
  .ir {
    text-indent: -9999px;
    font-size: 10px;
  }