#contact {
  input {
    margin-right: 20px;
    padding: 15px;
    border: none;
    border-radius: 7px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }

  label {
    position: relative;

    span {
      position: absolute;
      font-size: 14px;
      top: 5px;
      left: 10px;
      border-bottom: 2px solid #fff;
      padding: 0 10px;
      z-index: 999;
      opacity: 0;
      transition: all 0.2s linear;
    }

    &:focus-within {
      span {
        top: -28px;
        opacity: 1;
        border-color: $primary;
        font-weight: bold;
      }
    }
  }

  .bg--cta {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}