.bordered { border: 1px solid $grey; }
.bordered--none { border: none; }

.bordered---top, .bordered--bottom, .bordered--right, .bordered--left { border: none; }
.bordered--top { border-top: 1px solid $grey; }
.bordered--bottom { border-bottom: 1px solid $grey; }
.bordered--right { border-right: 1px solid $grey; }
.bordered--left { border-left: 1px solid $grey; }

.bordered--xs { border-width: 2px; }
.bordered--sm { border-width: 5px; }
.bordered--md { border-width: 10px; }
.bordered--lg { border-width: 25px; }

.radius--xs { border-radius: 3px; }
.radius--sm { border-radius: 5px; }
.radius--md { border-radius: 10px; }
.radius--lg { border-radius: 300px; }

hr  {
  border: none;
  height: 0;
  border-bottom: 1px solid $grey;

  &.shorty {
    width: 60px;
  }
}