.masonry {
  figure {
    margin: 0;  /* remove any margins */
    width: 33.333%; /* on desktop we want 3 across */
    float: left; /* and float them all in a row */
  }

  figure:nth-child(3n) {  /* every 3rd item (3, 6, 9, etc) */
    button {
      margin-right: 5px; /* remove the right padding since it'll be against the browser */
    }
  }

  img {
    display: block; /* make the image block level to remove any whitespace */
    transition: all 0.2s linear; /* add for animation */
  }

  button {
    border: none; /* buttons have a border by default, remove it */
    padding: 0; /* remove default padding */
    float: left;  /* float them so they're inline */
    margin: 5px 10px 5px 0; /* adds a white board but lets us still hover effect the bg */
    background: $primary; /* set the default background color */
    cursor: pointer; /* make the cursor indicate we can click */

    &:hover {
      img {
        opacity: 0.3; /* fade out our image so that we can see the background color on hover */
      }
    }
  }
}

/* change the color of each one to our main colors */
.masonry figure:nth-child(2n) {
  button {
    background-color: $links;
  }
}

.masonry figure:nth-child(3n) {
  button {
    background-color: $info;
  }
}

.masonry figure:nth-child(4n) {
  button {
    background-color: $successAlt;
  }
}

  /* change to 2 col grid for mobile */
  @media(min-width: 0px) and (max-width: 991px) {
    .masonry {
      figure {
        width: 50%; /* on desktop we want 3 across */
      }

      button {
        margin: 2% !important;
      }
    }
  }

  /* change to 4 col grid for big monitors */
  @media(min-width: 1500px) {
    .masonry {
      figure {
        width: 25%; /* on desktop we want 3 across */
      }

      button {
        margin: 2% !important;
      }
    }
  }

/* portfolio single */
#portfolioSingle {
  position: fixed; /* fix our position so it's docked at the top */
  top: 110%; /* push it off the screen when nothing is loaded */
  left: 0; /* positioning */
  width: 100%;
  height: 100%;
  background: $light; /* make the background white */
  transition: all 0.3s linear; /* so that we can animate the single panel in and out */
  overflow: scroll; /* anything offscreen, we want to be able to still scroll to */
  z-index: 999999999; /* the topest of top elements */

  &.active {
    top: 0; /* when we have something loaded, put the panel at the top */
  }
}

#portfolioItem--hero {
  position: relative; /* relatively position parent so we can absolutely position children */
  overflow: hidden; /* hide anything that breaks through */

  img {
    max-width: 100%; /* fluid width image */
  }

  h2 {
    position: absolute; /* positioning to dock it at the bottom left */
    white-space: nowrap; /* don't let the text go to 2 lines */
    bottom: -45px;
    left: 0;
    width: 100%;
    color: $light; /* white text */
    font-size: 6em; /* make it big */
    text-transform: uppercase; /* make it all uppercase */
    font-weight: bold; /* make sure it's bold */
  }
}

#portfolioItem--type {
  align-items: center; /* center the text vertically */
  text-align: right; /* right align the text horizontally */

  img {
    margin-left: 25px; /* add a little breathing room */
    border-radius: 5px; /* round the edges */
    box-shadow: 0 10px 40px rgba(0,0,0,0.2); /* add a nice big/subtle shadow */
  }
}

#portfolioItem--what {
  text-align: center;
  margin: 150px 0;
}

#portfolioItem--images img {
  border-radius: 5px; /* round the edges */
  box-shadow: 0 10px 40px rgba(0,0,0,0.2); /* add a nice big/subtle shadow */
  margin-bottom: 35px;
}

#portfolioItem--footer {
  margin: 75px 0;

  .btn {
    display: block;
    width: 400px;
    margin: auto;
  }
}

.close {
  position: fixed;
  right: 15px;
  top: 15px;
  border: none;
  color: #000;
  font-size: 4rem;
  z-index: 999;
}