.container {
  width: 98%;
  margin: auto;
}

.container-xs {
  width: 25%;
  margin: auto;
}

.container-sm {
  width: 50%;
  margin: auto;
}

.container-md {
  width: 75%;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat($gridColumns, 1fr);
  grid-gap: $gridGap;
}

/* base mobile grid */
.col-1 { grid-column: auto / span 1; }
.col-2 { grid-column: auto / span 2; }
.col-3 { grid-column: auto / span 3; }
.col-4 { grid-column: auto / span 4; }
.col-5 { grid-column: auto / span 5; }
.col-6 { grid-column: auto / span 6; }
.col-7 { grid-column: auto / span 7; }
.col-8 { grid-column: auto / span 8; }
.col-9 { grid-column: auto / span 9; }
.col-10 { grid-column: auto / span 10; }
.col-11 { grid-column: auto / span 11; }
.col-12 { grid-column: auto / span 12; }

/* base tablet grid */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .col-md-1 { grid-column: auto / span 1; }
  .col-md-2 { grid-column: auto / span 2; }
  .col-md-3 { grid-column: auto / span 3; }
  .col-md-4 { grid-column: auto / span 4; }
  .col-md-5 { grid-column: auto / span 5; }
  .col-md-6 { grid-column: auto / span 6; }
  .col-md-7 { grid-column: auto / span 7; }
  .col-md-8 { grid-column: auto / span 8; }
  .col-md-9 { grid-column: auto / span 9; }
  .col-md-10 { grid-column: auto / span 10; }
  .col-md-11 { grid-column: auto / span 11; }
  .col-md-12 { grid-column: auto / span 12; }
}

/* base desktop grid */
@media only screen and (min-width: 1025px) {
  .col-lg-1 { grid-column: auto / span 1; }
  .col-lg-2 { grid-column: auto / span 2; }
  .col-lg-3 { grid-column: auto / span 3; }
  .col-lg-4 { grid-column: auto / span 4; }
  .col-lg-5 { grid-column: auto / span 5; }
  .col-lg-6 { grid-column: auto / span 6; }
  .col-lg-7 { grid-column: auto / span 7; }
  .col-lg-8 { grid-column: auto / span 8; }
  .col-lg-9 { grid-column: auto / span 9; }
  .col-lg-10 { grid-column: auto / span 10; }
  .col-lg-11 { grid-column: auto / span 11; }
  .col-lg-12 { grid-column: auto / span 12; }
}